* {
    margin: 0;
    padding: 0;
    box-sizing: boreder-box;
}

body {
    font-family: 'Segoe Ui', sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f9f9f9;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header {
    background: #111;
    padding: 20px 0;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f39c12;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('http://source.unsplash.com/1600*900/?creative,agency') center/cover no-repeat;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    background: #f39c12;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #d35400;
}

.about, .services, .contact {
    padding: 60px;
    text-align: center;
}

.services .service-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;
}

.services .box {
    flex: 1;
    min-width: 250px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px;
    transition: transform 0.3s ease;
}

.services .box:hover {
    transform: translateY(-5px);
}

footer{
    background: #111;
    color: #aaa;
    text-align: center;
    padding: 20px 0;
}